body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #00b288;
  min-height: 100vh;
}

.bear {
  animation-duration: 2s;
  animation-name: spin, vanish;
  height: 25vmin;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes vanish {
  50% {
    opacity: 0;
  }
}
